@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.card {
  width: 375px;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 0em 1em 1em hsl(220, 15%, 55%);
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700px;
  padding: 0.5em 0em;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400px;
  padding: 0.5em 1em;
}
